@charset "UTF-8";
/* デスクトップPC用CSS */

.hidden-sp {
	display:inherit !important;
}
.hidden-pc {
	display:none !important;
}
.only-sp {
	display: none !important;
}
.only-pc {
	display: inherit !important;
}
